* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Halimun';
    src: local('Halimun'),
         url('/wings_web/Assignments/unusualfonts/Halimun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-size: 1rem;
    border: 7.5px double red;
    border-radius: 5px;
    width: 75%;
    margin: 1em auto;
    padding: 1em 1.5em;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding: 0.5em;
}

.quoteContainer {
    font-family: 'Halimun', sans-serif;
    font-size: 3rem;
    padding: 1em;
    padding-bottom: 0.25em;
}

.quote {
    font-size: 2rem;
}

footer {
    text-align: right;
    padding: 0.5em;
    padding-left: 1em;
}