@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.columns{
  column-count: 4;
  /* Width option gives width to each column
  But sets no of columns based on vw */
  column-rule: 3px solid black;
  column-gap: 20px;
}

.columns p{
  margin-top: 0;
  /* Only Margin-top of 1st paragraph becomes zero,
  for others the margins bottom and top collapse in each other */
}

.columns h2{
  margin-top: 0;
  background-color: #333333;
  color: white;
  padding: 1rem;
  break-inside: avoid;
  /* Doesn't split the header */
  /* break-before: column; Fixes to specific column.
  However, breaks resizeability */
}
/* QUOTE LESS THAN COLUMN QUOTE*/
.columns .quote{
  font-size: 3rem;
  text-align: center;
  color: #333333;
  column-span: all;
  margin-top: 2rem;
  text-wrap: nowrap;
}